#RewriteEngine on
#RewriteBase /oadev
#RewriteCond %{SCRIPT_FILENAME} !-f
#RewriteCond %{SCRIPT_FILENAME} !-d
#RewriteRule ^(.*)$ index.php/$1 

#RewriteEngine on
#RewriteRule !\.(js|ico|gif|jpg|png|css|html|doc|docx|xls|xlsx|PDF|pdf)$ index.php


RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]